<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RateThi.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC4FFE6421E1D7EE00C5846C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC4FFE7B21E1D7EF00C5846C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC4FFE8621E1D7EF00C5846C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
